.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__more {
        margin-bottom: 1.9rem;
        
        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color_black;
        font-size: 1.37rem;
        font-family: 'Forum';

        @media (max-width: 767px) {
            //display: none;
        }

        &-item {
            &:not(:last-child) {
                margin-right: .6rem;
            }
        }

        &-link {
            color: inherit;
            text-decoration: none;

            &._active {
                color: $color_light_gray;
            }

            &:hover {
                @media (width > 1024px) {
                    color: $color_green;
                }
            }
        }

        &-arrow {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background: $color_black;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::after {
                content: '';
                width: .8rem;
                height: .8rem;
                border-left: 2px solid $color_white;
                border-bottom: 2px solid $color_white;
                position: absolute;
            }

            &._next {
                transform: rotate(-135deg);
                margin-left: .8rem;

                &::after {
                    transform: translateX(.1rem) translateY(-.1rem);
                }
            }

            &._prev {
                transform: rotate(45deg);
                margin-right: .8rem;

                &::after {
                    transform: translateX(.1rem) translateY(-.1rem);
                }
            }

            &._disabled {
                background: $color_border;
                cursor: not-allowed;

                &::after {
                    border-color: $color_light_gray;
                }
            }
        }
    }
}