.text {
    & p,
    & ul,
    & ol {
        &:last-child {
            margin-bottom: 0;
        }

        & span {
            font-weight: 500;
            color: $color_black;
        }

        & li {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    & a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__wrap {
        width: 100%;
        max-width: 49rem;
    }

    & ._chapter {
        margin-top: 5rem;

        @media (max-width: 991px) {
            margin-top: 4rem;
        }

        @media (max-width: 575px) {
            margin-top: 3rem;
        }
    }

    & h2 {
        font-family: 'Forum';
        line-height: 120%;
        text-transform: uppercase;
        color: $color_black;
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (max-width: 575px) {
            font-size: 1.85rem;
        }
    }
}

.h1 {
    font-family: 'Forum';
    text-transform: uppercase;
    color: $color_black;
    font-size: 3.4rem;
    line-height: 120%;
    margin: 0 0 2rem;
    font-weight: normal;
    padding: 0;

    @media (max-width: 991px) {
        font-size: 2.8rem;
    }

    @media (max-width: 575px) {
        font-size: 2.28rem;
    }

    &._center {
        text-align: center;
    }

    &._mb0 {
        margin-bottom: 0 !important;
    }
}