$color_black: #333333;
$color_white: #FDFBFA;
$color_gray: rgba(51, 51, 51, 0.80);
$color_light_gray: #ADADAD;
//$color_green: #206C57;
$color_green: #0047AB;
$color_dark_green: #011914;
$color_border: #DCDBDB;
$color_card: #F5F5F5;
$color_orange: #FA990E;