.catalog-filter {
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;

    @media (max-width: 575px) {
        margin-bottom: 2.3rem;
    }

    &__box {
        border: 1px solid $color_border;
        padding: 2.5rem 3rem;
        display: flex;
        flex-direction: column;

        @media (max-width: 1440px) {
            padding: 1.88rem;
        }

        @media (max-width: 991px) {
            padding: 0 1.25rem;
            border: 0;
            background: $color_white;
            padding-bottom: 2.75rem;
        }

        & .filter__form-bottom {
            display: none;

            @media (max-width: 991px) {
                display: flex;
            }
        }
    }

    &__modal {
        @media (max-width: 991px) {
            display: none;
            min-height: 100%;
            height: unset;
            width: 100%;
            padding: 0;
            background: $color_white;
        }

        & .is-close-btn {
            display: none;
        }
    }

    &__header {
        display: flex;
        color: $color_black;

        @media (max-width: 991px) {
            display: none;
        }
    }

    &__header-params {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-right: 5%;
        justify-content: space-between;

        @media (max-width: 1440px) {
            padding-right: 3%;
        }
    }

    &__header-sorting-wrap {
        padding-left: 5%;
        display: flex;
        align-items: center;
        margin: -1.25rem 0;
        border-left: 1px solid $color_border;
        justify-content: flex-end;

        @media (max-width: 1440px) {
            padding-left: 3%;
        }

        @media (max-width: 991px) {
            padding-left: 0;
            margin: 0;
            border-left: 0;
        }

        &._no-border {
            border-left: 0;
        }

        & .choices {
            margin-bottom: 0;
            width: 13rem;

            @media (max-width: 991px) {
                width: 100%;
            }

            &__inner {
                height: 3.12rem;
                min-height: 3.12rem;
                display: flex;
                align-items: center;
                background: none;
            }

            &__list--single {
                padding-right: 20px;
            }

            & .choices__list--dropdown .choices__item--selectable, 
            & .choices__list[aria-expanded] .choices__item--selectable {
                padding-right: 10px;
            }
        }
    }

    &__header-sorting {
        width: 3.12rem;
        height: 3.12rem;
        background: $color_green;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color_white;

        & svg {
            position: absolute;
            transition: .5s ease-in-out;
        }

        &._asc {
            & svg {
                &._asc {
                    opacity: 1;
                }

                &._desc {
                    opacity: 0;
                }
            }
        }

        &._desc {
            & svg {
                &._asc {
                    opacity: 0;
                }

                &._desc {
                    opacity: 1;
                }
            }
        }
    }

    &__header-title {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 1rem;
        font-size: 1.37rem;
        font-weight: 500;

        @media (max-width: 1440px) {
            font-size: 1rem;
        }

        @media (max-width: 1199px) {
            gap: .5rem;
        }

        & svg {
            width: 3.12rem;
            height: auto;

            @media (max-width: 1199px) {
                width: 2rem;
            }
        }
    }

    &__header-param {
        color: $color_gray;
        display: flex;
        align-items: center;
        font-size: 1.12rem;

        @media (max-width: 1440px) {
            font-size: 1rem;
        }

        @media (max-width: 1199px) {
            font-size: .87rem;
        }

        & svg {
            transition: .5s ease-in-out;
        }

        &._active {
            & svg {
                transform: rotate(180deg);
            }
        }
    }

    &__footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: .9rem;
        

        & .filter__selected-list {
            margin: 0;
        }

        & .filter__selected-list,
        & .filter__selected {
            display: flex;
        }
    }

    &__reset {
        margin-right: 0;
        margin-left: 1.88rem;

        @media (max-width: 991px) {
            display: none !important;
        }
    }

    &__content {
        border-top: 1px solid $color_border;
        padding-top: 2.5rem;
        margin-top: 2rem;
        display: none;
        flex-direction: column;

        @media (max-width: 991px) {
            display: flex !important;
            padding: 1rem 0;
            margin-top: 0;
            border-top: 0;
            border-bottom: 1px solid $color_border;
        }

        &._active {
            display: flex;
        }

        & .filter__title {
            display: none;

            @media (max-width: 991px) {
                display: flex;
            }
        }
    }

    &__colors {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 -4rem -1.9rem 0;
        width: 100%;
        max-width: 45rem;
    }

    &__color {
        margin: 0 4rem 1.9rem 0;

        & .form__checkbox-title {
            display: flex;
            align-items: center;
            
            & svg {
                margin-right: 10px;
            }
        }
    }

    &__colors {
        & .form__checkbox {
            @media (max-width: 991px) {
                & .form__checkbox-title {
                    & svg {
                        display: none;
                    }
                }
            }
        }
    }

    &__colors,
    &__cuts,
    &__diamonds,
    &__collections {
        @media (max-width: 991px) {
            display: none;
            opacity: 0;
            margin-top: 1.5rem;
            max-width: 100%;
            width: 100%;
            margin-bottom: 1rem;
            margin-left: 0;
            margin-right: 0;
        }

        & .form__checkbox {
            @media (max-width: 991px) {
                margin: 0;

                & input {
                    &:checked {
                        & + .form__checkbox-label {
                            background: $color_green;
                            color: $color_white;
                        }
                    }
                }
    
                & .form__checkbox-label {
                    min-height: 4.7rem;
                    padding: .8rem;
                    border: 1px solid $color_green;
                    font-size: 1.12rem;
                    color: $color_green;
                    transition: .5s ease-in-out;
                    height: 100%;

                    @media (max-width: 575px) {
                        min-height: 2.5rem;
                        padding: .5rem;
                    }
                }
    
                & .form__checkbox-title {
                    width: 100%;
                    text-align: center;
                    justify-content: center;

                    @media (max-width: 575px) {
                        font-size: .75rem;
                    }
                }
    
                & .form__checkbox-check {
                    display: none;
                }
            }
        }
    }

    &__colors,
    &__cuts,
    &__diamonds {
        @media (max-width: 991px) {
            grid-template-columns: repeat(4, 1fr);
            gap: 1.25rem;
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__collections {
        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.25rem;
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__cuts,
    &__diamonds,
    &__collections {
        display: grid;
        gap: 1.6rem;
        justify-content: start;
        align-items: stretch;
    }

    &__cuts {
        grid-template-columns: repeat(6, auto);
    }

    &__diamonds,
    &__collections {
        grid-template-columns: repeat(3, auto);
    }

    &__categories-title {
        margin-bottom: 1.5rem;

        @media (max-width: 575px) {
            margin-bottom: 1.2rem;
        }
    }

    &__categories {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        margin-bottom: 3rem;

        @media (max-width: 1366px) {
            justify-content: start;
            padding: 0 3.75rem;
            margin-left: -3.75rem;
            margin-right: -3.75rem;
        }

        @media (max-width: 1280px) {
            padding: 0 1.87rem;
            margin-left: -1.87rem;
            margin-right: -1.87rem;
        }

        @media (max-width: 1024px) {
            padding: 0 1.25rem;
            margin-left: -1.25rem;
            margin-right: -1.25rem;
            margin-bottom: 2.4rem;
        }

        @media (max-width: 575px) {
            padding: 0 .71rem;
            margin-left: -.71rem;
            margin-right: -.71rem;
            margin-bottom: 2rem;
        }
    }

    &__category {
        &:not(:last-child) {
            margin-right: 1rem;

            @media (max-width: 575px) {
                margin-right: .7rem;
            }
        }

        &-input {
            display: none;

            &:checked {
                & + label {
                    background: $color_green;
                    border-color: $color_green;
                    color: $color_white;

                    & svg {
                        opacity: 1;
                    }
                }
            }
        }

        &-label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            border-radius: 6.25rem;
            border: 1px solid $color_black;
            font-size: 1.12rem;
            font-weight: 500;
            padding: 0 1.45rem 0 3rem;
            cursor: pointer;
            color: $color_black;
            transition: .5s ease;
            white-space: nowrap;

            @media (max-width: 575px) {
                height: 3.5rem;
                font-size: 1rem;
            }

            & svg {
                min-width: 1.7rem;
                max-width: 1.7rem;
                height: auto;     
                margin-left: .1rem;
                opacity: 0;
            }
        }
    }

    &__hidden-input {
        display: none;
    }

    &._light {
        @media (min-width: 992px) {
            margin-top: -3rem;
        }

        & .catalog-filter__box {
            @media (min-width: 1441px) {
                padding-top: 1.7rem;
                padding-bottom: 1.7rem;
            }

            @media (max-width: 1440px) and (min-width: 992px) {
                padding-top: 1.4rem;
                padding-bottom: 1.4rem;
            }
        }

        & .catalog-filter__header-sorting-wrap {
            @media (min-width: 992px) {
                margin: -.8rem 0;
            }
        }

        & .catalog-filter__content {
            @media (min-width: 992px) {
                margin-top: 1.4rem;
                padding-top: 1.6rem;
            }
        }

        & .catalog-filter__colors {
            @media (min-width: 992px) {
                margin-bottom: -1.1rem;
            }
        }

        & .catalog-filter__color {
            @media (min-width: 992px) {
                margin-bottom: 1.1rem;
            }
        }
    }
}