.section {
    padding: 6.25rem 0;

    @media (max-width: 767px) {
        padding: 4.35rem 0;
    }

    @media (max-width: 575px) {
        padding: 3.5rem 0;
    }

    &._pt0 {
        padding-top: 0;
    }

    &._pb0 {
        padding-bottom: 0;
    }

    &__subtitle {
        letter-spacing: 0.05rem;
        margin: 0 0 1.5rem;
        text-transform: uppercase;
        text-align: center;

        @media (max-width: 767px) {
            margin-bottom: 1.1rem;
        }

        @media (max-width: 575px) {
            font-size: .85rem;  
        }
    }

    &__title {
        font-family: "Forum";
        font-size: 4.8rem;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0;
        text-align: center;
        margin: 0 0 4.08rem;
        color: $color_black;
        line-height: 120%;

        @media (max-width: 767px) {
            font-size: 2.5rem;
            margin-bottom: 2.7rem;
        }

        @media (max-width: 575px) {
            font-size: 2.28rem;
        }

        &._small {
            font-size: 2.5rem;

            @media (max-width: 575px) {
                font-size: 2.3rem;
            }
        }
    }
}