section.breadcrumbs(class=breadcrumbs_classnames)
    .container
        ul.breadcrumbs__list
            li.breadcrumbs__list-item
                a.breadcrumbs__list-link(href="#") Главная
            li.breadcrumbs__list-item Бриллианты