section.section
    .service
        .container.service__container._reverse
            picture.service__picture
                source(type="image/webp" srcset="@img/tmp/pickup-ring@2x.webp 2x, @img/tmp/pickup-ring.webp 1x")
                img(srcset="@img/tmp/pickup-ring@2x.jpg 2x, @img/tmp/pickup-ring.jpg 1x" alt="" width="855" height="1000" loading="lazy")
            .service__content
                p.section__subtitle.service__section-subtitle Помощь
                h2.section__title.service__section-title Как подобрать кольцо
                a.service__link.btn._transparent-white-border(href="#") Подробнее