//Преимущества
section.section.pluses(class=pluses_classnames)
    .container.pluses__container
        article.pluses__item
            h3.pluses__title Гарантии
            .pluses__icon
                svg(width="180" height="180")
                    use(xlink:href="@img/icons/icons.svg#guarantee")
            .pluses__content
                p.pluses__text На приобретенное Вами изделие мы даем гарантию сроком 12 (двенадцать) календарных месяцев.
                a.pluses__link.link._italic.animation-link(href="#")
                    span._wrap
                        span._default Читать подробнее
                        span._hover Читать подробнее

        article.pluses__item
            h3.pluses__title Поставщики
            .pluses__icon
                svg(width="180" height="180")
                    use(xlink:href="@img/icons/icons.svg#suppliers")
            .pluses__content
                p.pluses__text Мы сами являемся поставщиками и поставляем камни из собственных офисов в Нью-Йорке, Гонконге и Тель-авиве.
                
        article.pluses__item
            h3.pluses__title Доставка / Упаковка
            .pluses__icon
                svg(width="180" height="180")
                    use(xlink:href="@img/icons/icons.svg#delivery")
            .pluses__content
                p.pluses__text Доставка осуществляется треми способами:
                ul.pluses__list 
                    li Курьер
                    li Самовывоз
                    li Курьерская служба
                a.pluses__link.link._italic.animation-link(href="#")
                    span._wrap
                        span._default Читать подробнее
                        span._hover Читать подробнее

        article.pluses__item
            h3.pluses__title Возврат
            .pluses__icon
                svg(width="180" height="180")
                    use(xlink:href="@img/icons/icons.svg#return")
            .pluses__content
                p.pluses__text Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей»:
                a.pluses__link.link._italic.animation-link(href="#")
                    span._wrap
                        span._default Читать подробнее
                        span._hover Читать подробнее