extends base

block meta
    - var seotitle = 'Касты'
    - var seodescription = 'Описание страницы касты'
    - var seokeywords = 'Ключевые слова страницы касты'

block main
    //Хлебные крошки
    section.breadcrumbs._pb1
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__list-item
                    a.breadcrumbs__list-link(href="#") Главная
                li.breadcrumbs__list-item
                    a.breadcrumbs__list-link(href="#") Украшения
                li.breadcrumbs__list-item Касты

    section.section._pt0
        .container
            h1.section__title.catalog-filter__categories-title._small Касты

            .catalog-filter
                //Категории
                .catalog-filter__categories.scroll._hidden
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Все
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Кольца
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Серьги
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Браслеты
                    a.catalog-filter__category-label.catalog-filter__category-link._active(href="#") Касты
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Подвески

                //Подкатегории    
                section.subcategories
                    .subcategories__col
                    
                    ul.subcategories__list(role="list")
                        li.subcategories__listitem(role="listitem")
                            //Класс _active у текущей категории
                            a.subcategories__link._active(href="#" role="link") Серьги
                        li.subcategories__listitem(role="listitem")
                            a.subcategories__link(href="#" role="link") Браслеты
                        li.subcategories__listitem(role="listitem")
                            a.subcategories__link(href="#" role="link") Кольца
                        li.subcategories__listitem(role="listitem")
                            a.subcategories__link(href="#" role="link") Комплекты
                    
                    .subcategories__col
                        .catalog-filter__header-sorting-wrap._no-border
                            select.catalog-filter__header-select.style-select(name="sorting")
                                option(value="По умолчанию" selected) По умолчанию
                                option(value="По возрастанию цены") По возрастанию цены
                                option(value="По убыванию цены") По убыванию цены
                                option(value="По популярности") По популярности

                            button.catalog-filter__header-sorting.btn-reset._asc(type="button")
                                svg._asc(width="30" height="30")
                                    use(xlink:href="@img/icons/icons.svg#sorting-asc")
                                svg._desc(width="30" height="30")
                                    use(xlink:href="@img/icons/icons.svg#sorting-desc")

            //Товары
            .new-collection
                .products._col4-line.new-collection__row
                    +product('Кольцо с бриллиантами 0.55ct из белого золота', '321 960 ₽', 'product-1', 413, 475, 'New', '_active', '0', 1)
                    +product('Кольцо с бриллиантом 0.18ct из белого золота', '151 200 ₽', 'product-2', 413, 475, '', '', '1', 1)
                    +product('Кольцо с бриллиантом 0,510ct из белого золота', '244 920 ₽', 'product-3', 413, 475, 'New', '', '2', 1)
                    +product('Кольцо с бриллиантом 0,600ct из белого золота', '423 960 ₽', 'product-4', 413, 475, '', '_active', '3', 1)
                    +product('Кольцо с бриллиантами 0.55ct из белого золота', '321 960 ₽', 'product-1', 413, 475, 'New', '_active', '0', 1)
                    +product('Кольцо с бриллиантом 0.18ct из белого золота', '151 200 ₽', 'product-2', 413, 475, '', '', '1', 1)
                    +product('Кольцо с бриллиантом 0,510ct из белого золота', '244 920 ₽', 'product-3', 413, 475, 'New', '', '2', 1)
                    +product('Кольцо с бриллиантом 0,600ct из белого золота', '423 960 ₽', 'product-4', 413, 475, '', '_active', '3', 1)
                    +product('Кольцо с бриллиантами 0.55ct из белого золота', '321 960 ₽', 'product-1', 413, 475, 'New', '_active', '0', 1)
                    +product('Кольцо с бриллиантом 0.18ct из белого золота', '151 200 ₽', 'product-2', 413, 475, '', '', '1', 1)
                    +product('Кольцо с бриллиантом 0,510ct из белого золота', '244 920 ₽', 'product-3', 413, 475, 'New', '', '2', 1)
                    +product('Кольцо с бриллиантом 0,600ct из белого золота', '423 960 ₽', 'product-4', 413, 475, '', '_active', '3', 1)
                    +product('Кольцо с бриллиантами 0.55ct из белого золота', '321 960 ₽', 'product-1', 413, 475, 'New', '_active', '0', 1)
                    +product('Кольцо с бриллиантом 0.18ct из белого золота', '151 200 ₽', 'product-2', 413, 475, '', '', '1', 1)
                    +product('Кольцо с бриллиантом 0,510ct из белого золота', '244 920 ₽', 'product-3', 413, 475, 'New', '', '2', 1)
                    +product('Кольцо с бриллиантом 0,600ct из белого золота', '423 960 ₽', 'product-4', 413, 475, '', '_active', '3', 1)

            //Пагинация
            include pug/layout/_paginate

    //Как подобрать кольцо
    include pug/layout/_how-choose-ring

    include pug/layout/_pluses

block modal
    include pug/layout/_fashion-modal