extends base

block meta
    - var seotitle = 'Касты'
    - var seodescription = 'Описание страницы касты'
    - var seokeywords = 'Ключевые слова страницы касты'

block main
    //Хлебные крошки
    section.breadcrumbs._pb1
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__list-item
                    a.breadcrumbs__list-link(href="#") Главная
                li.breadcrumbs__list-item
                    a.breadcrumbs__list-link(href="#") Украшения
                li.breadcrumbs__list-item Касты

    section.section._pt0
        .container
            h1.section__title.catalog-filter__categories-title._small Касты

            .catalog-filter
                //Категории
                .catalog-filter__categories.scroll._hidden
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Все
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Кольца
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Серьги
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Браслеты
                    a.catalog-filter__category-label.catalog-filter__category-link._active(href="#") Касты
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Подвески

                //Подкатегории    
                section.subcategories
                    .subcategories__col
                    
                    ul.subcategories__list(role="list")
                        li.subcategories__listitem(role="listitem")
                            //Класс _active у текущей категории
                            a.subcategories__link._active(href="#" role="link") Серьги
                        li.subcategories__listitem(role="listitem")
                            a.subcategories__link(href="#" role="link") Браслеты
                        li.subcategories__listitem(role="listitem")
                            a.subcategories__link(href="#" role="link") Кольца
                        li.subcategories__listitem(role="listitem")
                            a.subcategories__link(href="#" role="link") Комплекты
                    
                    .subcategories__col
                        .catalog-filter__header-sorting-wrap._no-border
                            select.catalog-filter__header-select.style-select(name="sorting")
                                option(value="Дата создания товара" selected) Дата создания товара
                                option(value="Название товара") Название товара
                                option(value="Артикул") Артикул
                                option(value="Цена товара") Цена товара

                            button.catalog-filter__header-sorting.btn-reset._asc(type="button" data-diamonds-sorting)
                                svg._asc(width="30" height="30")
                                    use(xlink:href="@img/icons/icons.svg#sorting-asc")
                                svg._desc(width="30" height="30")
                                    use(xlink:href="@img/icons/icons.svg#sorting-desc")

            //Товары
            include pug/layout/_catalog-products

            //Пагинация
            include pug/layout/_paginate

    //Как подобрать кольцо
    include pug/layout/_how-choose-ring

    include pug/layout/_pluses

block modal
    include pug/layout/_fashion-modal