extends base

block meta
    - var seotitle = 'Каталог'
    - var seodescription = 'Описание страницы каталога'
    - var seokeywords = 'Ключевые слова страницы каталога'

block main
    //Хлебные крошки
    section.breadcrumbs._pb1
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__list-item
                    a.breadcrumbs__list-link(href="#") Главная
                li.breadcrumbs__list-item Украшения

    section.section._pt0
        .container
            h1.section__title.catalog-filter__categories-title._small Украшения

            .catalog-filter
                //Категории
                .catalog-filter__categories.scroll._hidden
                    a.catalog-filter__category-label.catalog-filter__category-link._active(href="#") Все
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Кольца
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Серьги
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Браслеты
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Касты
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Подвески

                //Фильтр
                include pug/layout/_filter

            //Товары
            include pug/layout/_catalog-products

            //Пагинация
            include pug/layout/_paginate

    //Как подобрать кольцо
    include pug/layout/_how-choose-ring

    include pug/layout/_pluses

block modal
    include pug/layout/_fashion-modal

