extends base

block meta
    - var seotitle = 'Доставка'
    - var seodescription = 'Описание страницы доставки'
    - var seokeywords = 'Ключевые слова страницы доставки'

block main
    //Хлебные крошки
    include pug/layout/_breadcrumbs

    section.section.text._pt0
        .container
            .text__wrap
                h1.h1 Доставка

                .delivery
                    article.delivery__item
                        h3.delivery__title 1. Курьер
                        .delivery__text 
                            p Заказы по Москве доставляются собственной курьерской службой My Diamonds. Перед доставкой мы обязательно свяжемся с Вами и назначим удобный для вас день и время доставки, а также предоставим данные для связи с курьером. Доставка по Москве осуществляется БЕСПЛАТНО.

                    article.delivery__item
                        h3.delivery__title 2. Самовывоз
                        .delivery__text 
                            p Самовывоз производится из нашего магазина в г. Москва. Вы можете самостоятельно забрать Ваш заказ по будням <span>с 10:00 до 18:00</span> по адресу г. Москва, ул. Нижняя Красносельская, 40/12к4, офис 11 (Бизнес-Центр «НОВЬ»)Или по адресу г.Москва, Краснопресненская набережная, д.12, Plaza Garden Moscow
                            p Телефон: <span>+7 (925) 204-29-35</span>
                            p Ежедневно: <span>с 10:00 до 21:00</span>

                    article.delivery__item
                        h3.delivery__title 3. Курьерская доставка
                        .delivery__text 
                            p Доставка по России и СНГ осуществляется специализированной курьерской службой «Спецсвязь». Это государственная курьерская служба специализирующаяся на доставке особо ценных отправлений. Все заказы доставляются с вооруженной охраной напрямую с нашего производства и передаются лично в руки. Стоимость доставки - <span>БЕСПЛАТНО</span>.
