extends base

block meta
    - var seotitle = 'Бриллианты'
    - var seodescription = 'Описание страницы бриллиантов'
    - var seokeywords = 'Ключевые слова страницы бриллиантов'

block main
    block breadcrumbs
        //Хлебные крошки
        section.breadcrumbs._pb1
            .container
                ul.breadcrumbs__list
                    li.breadcrumbs__list-item
                        a.breadcrumbs__list-link(href="#") Главная
                    li.breadcrumbs__list-item Бриллианты

    //Фильтр
    section.filter
        .container
            block h1
                h1.section__title.catalog-filter__categories-title._small Бриллианты

            block categories
                //Категории
                .catalog-filter__categories.scroll._hidden
                    a.catalog-filter__category-label.catalog-filter__category-link._active(href="#") Все
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Боковые
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Круглые
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Фантазийные
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Цветные
                    a.catalog-filter__category-label.catalog-filter__category-link(href="#") Уникальные огранки

            button.filter__mobile-btn.btn._transparent-gray-border(type="button" data-fancybox-no-swipe data-src="#modal-filter")
                svg(width="40" height="40")
                    use(xlink:href="@img/icons/icons.svg#filter")
                | Фильтр

            block filter
                //Фильтр
                .filter__form-wrap(id="modal-filter" data-lenis-prevent)
                    .filter__header
                        .filter__header-title Фильтр
                        button.filter__header-close.btn-reset(type="button" data-fancybox-close) Закрыть
                            span 

                    mixin filter_checkbox(title, name, id, classnames)
                        .filter__checkbox(class=classnames)
                            input.filter__checkbox-input(type="checkbox" name=name id=id)
                            label.filter__checkbox-label(for=id)=title

                    form.filter__form(action="#" method="get" data-filter)
                        +filter_item_cut('Огранка бриллианта')

                        fieldset.filter__item._small(data-filter-more-parent data-filter-item)
                            p.filter__title(data-filter-title) Цвет бриллианта
                                span.filter__title-icon
                                    svg(width="13" height="16")
                                        use(xlink:href="@img/icons/icons.svg#filter-arrow")
                            .filter__checkboxes.filter__content._color(data-filter-content="grid")
                                +filter_checkbox('D', 'color', 'color-1', '')
                                +filter_checkbox('E', 'color', 'color-2', '')
                                +filter_checkbox('F', 'color', 'color-3', '')
                                +filter_checkbox('G', 'color', 'color-4', '')
                                +filter_checkbox('H', 'color', 'color-5', '')
                                +filter_checkbox('I', 'color', 'color-6', '')
                                +filter_checkbox('J', 'color', 'color-7', '')
                                +filter_checkbox('K', 'color', 'color-8', '')
                                +filter_checkbox('L', 'color', 'color-9', '')
                                +filter_checkbox('M', 'color', 'color-10', '')
                                +filter_checkbox('N', 'color', 'color-11', '')
                                +filter_checkbox('O', 'color', 'color-12', '')
                                +filter_checkbox('P', 'color', 'color-13', '')
                                +filter_checkbox('Q', 'color', 'color-14', '')
                                +filter_checkbox('R', 'color', 'color-15', '')
                                +filter_checkbox('S', 'color', 'color-16', '')
                                +filter_checkbox('T', 'color', 'color-17', '')
                                +filter_checkbox('U', 'color', 'color-18', '')
                                +filter_checkbox('V', 'color', 'color-19', '')
                                +filter_checkbox('W', 'color', 'color-20', '')
                                +filter_checkbox('X', 'color', 'color-21', '')
                                +filter_checkbox('Y', 'color', 'color-22', '')
                                +filter_checkbox('Z', 'color', 'color-23', '')

                                .filter__custom-colors
                                    mixin color(i, color, title)
                                        .form__checkbox
                                            input.form__checkbox-input(type="checkbox" name="color" id="color-"+i)
                                            label.form__checkbox-label(for="color-"+i)
                                                span.form__checkbox-check
                                                    svg(width="14" height="11")
                                                        use(xlink:href="@img/icons/icons.svg#checkbox")
                                                span.filter__custom-colors-color(style="background: "+color+";")
                                                =title

                                    +color(24, '#F2C0D4', 'Розовый')
                                    +color(25, '#B3C7DD', 'Голубой')
                                    +color(26, '#FFF48A', 'Желтый')
                                    +color(27, '#F8C2A6', 'Коричневый')
                                    +color(28, '#668057', 'Зеленый')
                                    +color(29, '#9F010C', 'Красный')
                                    +color(30, '#000', 'Черный')

                            button.filter__more.btn-reset.link.animation-link(type="button" data-filter-more data-filter-more-default="Еще цвета")
                                span._wrap
                                    span._default Еще цвета 
                                    span._hover Еще цвета

                        +filter_item_clean('Чистота бриллианта')

                        +filter_item_sizes('Линейные размеры (мм)', '_small') 

                        +filter_item_weight('Вес бриллианта', '_small')

                        +filter_item_price('Стоимость', '_small')

                        +filter_bottom_controls

    //Бриллианты в таблице
    mixin diamonds_item(icon)
        a.diamonds__item.diamonds__cols(href="#")
            span.diamonds__col._center
                svg.diamonds__item-icon(width="35" height="35")
                    use(xlink:href="@img/icons/icons.svg#"+icon)
            span.diamonds__col 2225798290
            span.diamonds__col 1.01 , 1.00
            span.diamonds__col Fancy Yellow
            span.diamonds__col VVS2
            span.diamonds__col 1 326 600 ₽

    section.section._pt0 
        .container
            .catalog-filter__header-sorting-wrap.filter__sorting-wrap
                .filter__sorting
                    select.catalog-filter__header-select.style-select(name="sorting")
                        option(value="По умолчанию" selected) По умолчанию
                        option(value="По возрастанию цены") По возрастанию цены
                        option(value="По убыванию цены") По убыванию цены
                        option(value="По популярности") По популярности

                    button.catalog-filter__header-sorting.btn-reset._asc(type="button")
                        svg._asc(width="30" height="30")
                            use(xlink:href="@img/icons/icons.svg#sorting-asc")
                        svg._desc(width="30" height="30")
                            use(xlink:href="@img/icons/icons.svg#sorting-desc")

                .filter__controls
                    .filter__control
                        .filter__control-title Показывать по:
                        .filter__control-items
                            a.filter__control-item(href="#") 12
                            a.filter__control-item._active(href="#") 24
                            a.filter__control-item(href="#") 36

                    .filter__control-items._icons
                        a.filter__control-item._icon(href="#")
                            svg(width="22" height="22")
                                use(xlink:href="@img/icons/icons.svg#filter-table")
                        a.filter__control-item._icon._active(href="#")
                            svg(width="22" height="22")
                                use(xlink:href="@img/icons/icons.svg#filter-list")

            block products
                //Таблица
                .diamonds.scroll._hidden
                    .diamonds__cols
                        button.diamonds__btn.diamonds__col.btn-reset._asc(type="button" data-diamonds-sorting) Форма
                        button.diamonds__btn.diamonds__col.btn-reset._asc(type="button" data-diamonds-sorting) Артикул
                        button.diamonds__btn.diamonds__col.btn-reset._asc(type="button" data-diamonds-sorting) Вес
                        button.diamonds__btn.diamonds__col.btn-reset._asc(type="button" data-diamonds-sorting) Цвет
                        button.diamonds__btn.diamonds__col.btn-reset._asc(type="button" data-diamonds-sorting) Чистота
                        button.diamonds__btn.diamonds__col.btn-reset._asc(type="button" data-diamonds-sorting) Цена

                    +diamonds_item('cut-1')
                    +diamonds_item('cut-2')
                    +diamonds_item('cut-3')
                    +diamonds_item('cut-4')
                    +diamonds_item('cut-5')
                    +diamonds_item('cut-6')
                    +diamonds_item('cut-7')
                    +diamonds_item('cut-8')
                    +diamonds_item('cut-9')
                    +diamonds_item('cut-10')
                    +diamonds_item('cut-11')
                    +diamonds_item('cut-12')

            //Пагинация
            .pagination.section._pb0
                button.pagination__more.btn-reset.link.animation-link._button-mobile(type="button")
                    span._wrap
                        span._default Показать еще
                        span._hover Показать еще

                ul.pagination__list
                    li.pagination__list-item 
                        a.pagination__list-arrow._prev._disabled(href="#")
                    li.pagination__list-item 
                        a.pagination__list-link._active(href="#") 1
                    li.pagination__list-item 
                        a.pagination__list-link(href="#") 2
                    li.pagination__list-item 
                        a.pagination__list-link(href="#") 3
                    li.pagination__list-item 
                        a.pagination__list-link(href="#") 4
                    li.pagination__list-item.pagination__list-divider . . .
                    li.pagination__list-item 
                        a.pagination__list-link(href="#") 9
                    li.pagination__list-item 
                        a.pagination__list-link(href="#") 10
                    li.pagination__list-item 
                        a.pagination__list-arrow._next(href="#")

    //Информация
    section.section.diamonds-info._pt0 
        .container
            .diamonds-info__container 
                article.diamonds-info__item
                    p.diamonds-info__title._mobile Документы
                    svg.diamonds-info__icon(width="188" height="188")
                        use(xlink:href="@img/icons/icons.svg#documents")
                    .diamonds-info__content
                        h3.diamonds-info__title Документы
                        p.diamonds-info__text Наши документы: полный список официальных документов и сертификатов
                        a.diamonds-info__link.link._italic.animation-link(href="#")
                            span._wrap 
                                span._default Читать подробнее
                                span._hover Читать подробнее

                article.diamonds-info__item
                    p.diamonds-info__title._mobile Поставщики
                    svg.diamonds-info__icon(width="188" height="188")
                        use(xlink:href="@img/icons/icons.svg#suppliers")
                    .diamonds-info__content
                        h3.diamonds-info__title Поставщики
                        p.diamonds-info__text Мы сами являемся поставщиками и поставляем камни из собственных офисов в Нью-Йорке, Гонконге и Тель-авиве.

                article.diamonds-info__item
                    p.diamonds-info__title._mobile Гарантии
                    svg.diamonds-info__icon(width="188" height="188")
                        use(xlink:href="@img/icons/icons.svg#guarantee")
                    .diamonds-info__content
                        h3.diamonds-info__title Гарантии
                        p.diamonds-info__text На приобретенное Вами изделие мы даем гарантию сроком 12 (двенадцать) календарных месяцев.
                        a.diamonds-info__link.link._italic.animation-link(href="#")
                            span._wrap 
                                span._default Читать подробнее
                                span._hover Читать подробнее



