extends diamonds-fantasy

block meta
    - var seotitle = 'Цветные бриллианты'
    - var seodescription = 'Описание страницы цветных бриллиантов'
    - var seokeywords = 'Ключевые слова страницы цветных бриллиантов'

block breadcrumbs
    //Хлебные крошки
    section.breadcrumbs._pb1
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__list-item
                    a.breadcrumbs__list-link(href="#") Главная
                li.breadcrumbs__list-item
                    a.breadcrumbs__list-link(href="#") Бриллианты
                li.breadcrumbs__list-item Цветные

block h1
    h1.section__title.catalog-filter__categories-title._small Цветные бриллианты

block categories
    //Категории
    .catalog-filter__categories.scroll._hidden
        a.catalog-filter__category-label.catalog-filter__category-link(href="#") Все
        a.catalog-filter__category-label.catalog-filter__category-link(href="#") Боковые
        a.catalog-filter__category-label.catalog-filter__category-link(href="#") Круглые
        a.catalog-filter__category-label.catalog-filter__category-link(href="#") Фантазийные
        a.catalog-filter__category-label.catalog-filter__category-link._active(href="#") Цветные
        a.catalog-filter__category-label.catalog-filter__category-link(href="#") Уникальные огранки

block filter
    //Фильтр
    .filter__form-wrap(id="modal-filter" data-lenis-prevent)
        .filter__header
            .filter__header-title Фильтр
            button.filter__header-close.btn-reset(type="button" data-fancybox-close) Закрыть
                span 

        mixin filter_checkbox(title, name, id, classnames)
            .filter__checkbox(class=classnames)
                input.filter__checkbox-input(type="checkbox" name=name id=id)
                label.filter__checkbox-label(for=id)=title

        form.filter__form(action="#" method="get" data-filter)
            +filter_item_cut('Огранка бриллианта')

            fieldset.filter__item._small(data-filter-more-parent data-filter-item)
                p.filter__title(data-filter-title) Цвет бриллианта
                    span.filter__title-icon
                        svg(width="13" height="16")
                            use(xlink:href="@img/icons/icons.svg#filter-arrow")
                .filter__checkboxes.filter__content._color(data-filter-content="grid")
                    .filter__custom-colors._single
                        mixin color(i, color, title)
                            .form__checkbox
                                input.form__checkbox-input(type="checkbox" name="color" id="color-"+i)
                                label.form__checkbox-label(for="color-"+i)
                                    span.form__checkbox-check
                                        svg(width="14" height="11")
                                            use(xlink:href="@img/icons/icons.svg#checkbox")
                                    span.filter__custom-colors-color(style="background: "+color+";")
                                    =title

                        +color(1, '#F2C0D4', 'Розовый')
                        +color(2, '#B3C7DD', 'Голубой')
                        +color(3, '#FFF48A', 'Желтый')
                        +color(4, '#F8C2A6', 'Коричневый')
                        +color(5, '#668057', 'Зеленый')
                        +color(6, '#9F010C', 'Красный')
                        +color(7, '#000', 'Черный')

                button.filter__more.btn-reset.link.animation-link(type="button" data-filter-more data-filter-more-default="Еще цвета")
                    span._wrap
                        span._default Еще цвета 
                        span._hover Еще цвета

            +filter_item_clean('Чистота бриллианта')

            +filter_item_sizes('Линейные размеры (мм)', '_small')

            +filter_item_weight('Вес бриллианта', '_small')

            +filter_item_price('Стоимость', '_small')

            +filter_bottom_controls