extends base

block meta
    - var seotitle = 'Гарантия'
    - var seodescription = 'Описание страницы гарантии'
    - var seokeywords = 'Ключевые слова страницы гарантии'

block main
    //Хлебные крошки
    include pug/layout/_breadcrumbs

    section.section.text._pt0
        .container
            .text__wrap
                h1.h1 Гарантия

                p Все изделия My Diamonds производятся в соответствии с международными и российскими стандартами качества, проходят пробирование и клеймение в Государственной инспекции Пробирного надзора РФ, сопровождаются сертификатами российских или международных геммологических лабораторий (для бриллиантов от 0,30 карат), а также гарантийным сертификатом.
                p
                    span На приобретенное Вами изделие мы даем гарантию сроком 12 (двенадцать) календарных месяцев.

                h2.h1._chapter Возврат

                p По законодательству Российской Федерации ювелирные изделия возврату и обмену не подлежат, кроме случаев выявления заводского брака, не оговоренных продавцом. В соответствии с Постановлением Правительства РФ №55 от 19.01.1998 года, вернуть ювелирные изделия надлежащего качества, если не подошел размер, украшение не понравилось, НЕ ПОЛУЧИТСЯ. НО, если изделие по каким-то причинам вас не устраивает мы всегда можем внести в него изменения, или полностью вернуть вам деньги в случае выявления брака.
                
                p Обмен или возврат доступны, если товар имеет брак, допущенный при производстве, или поломку, которая произошла не по вине покупателя. Процедура проводится в период, пока действует гарантийный срок.
                
                p <span>Если вы совершили оплату наличными</span>, то вы получите возврат также наличными денежными средствами при предъявлении чека о покупке.
                
                p <span>При оплате картами</span> возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем.
                
                p <span>Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей»:</span>
                
                ul
                    li <span>Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;</span>
                    li <span>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;</span>
                    li <span>Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;</span>
                    li <span>При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;</span>

                p Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое высылается по требованию компанией на электронный адрес и оправить его вместе с приложением копии паспорта по адресу <a href="mailto:info@my-diamonds.ru">info@my-diamonds.ru</a>
                
                p Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.
                
                p Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу <a href="mailto:info@my-diamonds.ru">info@my-diamonds.ru</a>
    
                p Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней.
