extends home

block intro_video
    .intro__video-wrap
        video.intro__video(autoplay muted loop playsinline poster="@img/tmp/home-intro.jpg" preload="none" loading="lazy")
            source(type="video/mp4" src="files/video.mp4")

block fashion_video
    +fashion_video('new-collection-img-1', 'video.mp4')

block service_video
    video.service__video(autoplay muted loop playsinline poster="@img/tmp/service.jpg" preload="none" loading="lazy")
        source(type="video/mp4" src="files/video.mp4")
    