meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="format-detection" content="telephone=no")
title= seotitle
meta(name="description" content= seodescription)
meta(name="keywords" content= seokeywords)
link(rel="stylesheet"  href="css/style.min.css")