meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="format-detection" content="telephone=no")
link(rel="preload" href="css/style.min.css" as="style" fetchpriority="hight")
link(rel="preload" href="js/app.min.js" as="script" fetchpriority="hight")
link(rel="preload" href="fonts/Montserrat-Regular.woff" as="font" type="font/woff" fetchpriority="high" crossorigin)
title= seotitle
meta(name="description" content= seodescription)
meta(name="keywords" content= seokeywords)
link(rel="stylesheet" href="css/style.min.css")